<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-model数据源绑定</title>
    <script src="../../assets/js/vue.js"></script>
</head>
<body>

<h1>v-model数据源绑定</h1>
<hr>
<div id="app">
    <p>原始数据{{message}}</p>
    <h3>文本框</h3>
    <p><input type="text" v-model="message"></p>
    <p>v-model.lazy<input type="text" v-model.lazy="message"></p>
    <p>v-model.number<input type="text" v-model.number="message"></p>
    <p>v-model.trim<input type="text" v-model.trim="message"></p>
    <hr>
    <h3>文本域</h3>.

    <textarea cos="33" rows="10" v-model="message"></textarea>
    <hr>
    <h3>multiselect onevalue</h3>
    <input type="checkbox" id="isTrue" v-model="isTrue">
    <label for="isTrue">{{isTrue}}</label>
    <hr>
    <h3>multiselect array</h3>
    <p>
        <input type="checkbox" id="zr" value="zr" v-model="web_names">
        <label for="isTrue">zr</label>
        <input type="checkbox" id="zrr" value="zrr" v-model="web_names">
        <label for="isTrue">zrr</label>
        <input type="checkbox" id="dgg" value="dgg" v-model="web_names">
        <label for="isTrue">dgg</label>
    </p>
    <p>{{web_names}}</p>
    <hr>
    <h3>singleselect</h3>
    <input type="radio" id="one" value="男" v-model="sex">
    <label for="one">男</label>
    <input type="radio" id="two" value="女" v-model="sex">
    <label for="two">女</label>
    <p>select:{{sex}}</p>
</div>
<script>
    var app = new Vue({
        el:'#app',
        data:{
            message:'ff',
            isTrue:true,
            web_names:[],
            sex:''
        }
    })
</script>
</body>
</html>